<div id="artworks" class="bottom-padding">
    <div class="breadcrumbs side-padding">
        <a href="/">Головна</a>
        <span>></span>
        <a href="/artworks">Твори</a>
    </div>
    <div class="side-padding">
        {{#each artworks}}
            <div class="{{#if (isDivisor 2 (sum @index 1))}}right{{else}}left{{/if}} artwork" id="artworks_{{@index}}">
                <div>
                    <h1>Поезії</h1>
                    <ul>
                        {{#each this}}
                            <li {{#unless this.poetryContent}}class='disabled'{{/unless}}><a href="/artworks/{{#if this.slug}}{{this.slug}}{{/if}}">{{this.title}}</a></li>
                        {{/each}}
                    </ul>
                </div>
                <img src="/img/{{lookup ../photos @index}}" alt="">
            </div>      
        {{/each}}
        <div class="artwork last" id="artworks_3">
            <div class="">
                <h1>Сценарії</h1>
                <ul>
                    {{#each films}}
                        <li  {{#unless this.filmURL}}class='disabled'{{/unless}}><a href="/artworks/{{#if this.slug}}{{this.slug}}{{/if}}">{{this.title}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <img src="/img/drach_lektsia-min.png" alt="">
        </div>
    </div>
</div>